{% extends 'NewsPortal/PostsBase.html' %} 

{% load censor_filter %}

{% block title %}
All articles
{% endblock title %}

    {% block PostsAmount %}
    <p>Articles amount: {{ articles|length }}</p>
    {% endblock PostsAmount %}

{% block content_table %}
<thead>
    <tr>
        <th>Title</th>
        <th>Rating</th>
        <th>Author</th>
        <th>Release Date</th>
        <th>ID</th>
    </tr>
</thead>
<tbody>
    {% for a in articles %}
            <tr>
                <td><a href="http://127.0.0.1:8000/newsPortal/posts/{{ a.id }}">{{ a.title|censor }}</a></td>
                <td><span class="yellowText">{{ a.rating }} stars</span></td>
                <td>{{ a.author.user.username }}</td>
                <td>{{ a.creationDate }}</td>
                <td>{{ a.id }}</td>
            </tr>
            {% endfor %}

</tbody>
{% endblock content_table %}
